* {
  margin: 0;
  padding: 0;
  /* border: 0; */
  -webkit-user-select: none;
}

body {
  background: url("http://jsrun.it/assets/t/k/9/E/tk9Ey.jpg") no-repeat;
  font: 30px sans-serif;
  color:#fff;
}

#titleContainer{
   margin: 0 auto;    
    width:300px; 
}

#titleContainer h4{
    text-align:center;
     font-size: medium;
}

#buttnContainer{
    /*background: #0d0;*/
    margin: 0 auto;    
    width:300px;  
}

button{
    display:block;
    margin: 10px auto;
    width:160px;
    font-size: 30px;
}

.btn_light{
    color: #fff;
    border:1px solid #ffffff;
    background:none;
}

#log{
    margin: 10px auto;
    background: #000;
    color:#fff;
    width:300px;
    height:40px;
}

#logs{
    margin: 0 auto;
    background: #000;
    color:#fff;
    width:300px;
    height:100px;
    font-size: small;
}

.link_area{
    text-align:center;
}

.link_text{
    color: #fff;
    font-size:20px;
    margin-top:10px;
    
}
